.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px;
  gap: 25px;

  position: absolute;
  width: 1200px;
  height: 64px;
  background: #FFFFFF;
}

.main-hero {
  position: absolute;
  width: 1200px;
  height: 767px;
  top: 64px;
}

.image-sedona {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 36.77%;
  background: src="image/index-background.jpg";
}
