@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #FFFFFF;
}

.navigation-button {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
}

.block {
  width: 1200px;
  height: 485px;
  background-image: url("../image/welcome.svg"), url("../image/welcome-down.svg"), url("../image/index-background.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, center bottom, center;
  background-size: auto, 100% auto, 100% auto;
}

.title-page {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.paragraph-page {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.index-main {
  color: #000000;
  background-color: #ffffff;
}


.advantages-list {
  text-align: center;
}

.advantages-item {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  text-align: center;
}

.advantages-title-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-paragraph-white {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000
}

.advantages-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333
}

.services-title-2 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-paragraph-2 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.mail {
  width: 1200px;
  height: 415px;
  background-image: url("../image/canyon.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.mailing-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.mailing-paragraph {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.button-mailing {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.input-mailing {
  width: 452px;
  height: 52px;
  text-align: center;
  align-items: center;
}
